:root{
  --Gainsboro: #DDE7E0;
  --Dim: #476467;
  --Orange: #DC8032;
  --passed: 0;
}
@font-face {
  font-family: "Entezar3";
  src: url(/content/fonts/entezar/Entezar3_v2.0.1.ttf);
}
@font-face {
  font-family: "Entezar1";
  src: url(/content/fonts/entezar/Entezar1_v2.0.1.ttf);
}
body {
  background-color: var(--color-bg);
  margin: 0;
  z-index: -100000000;
  transition: background-color 1000ms;
  padding: 0px;
}
h1,h2,h3,h4{
  color: var(--Orange);
  font-family: Entezar3;
  font-size: clamp(3vh,3rem,2vw);
  margin: 0px;
  padding: 0px;
}
p{
  color: var(--Orange);
  font-family: Entezar1;
  font-size: clamp(3vh,3rem,2vw);
  margin: 0px;
  padding: 0px;
}
.title{
  z-index: 1;
  font-size: clamp(10vh,7rem,10vw);
  text-align: center;
  opacity: calc(1 - (var(--passed) * 3));
  transform: translateY(calc( (var(--passed)) * -10rem ));
  transition: opacity 100ms, translateY 100ms;
}
p.mini{
  font-size: clamp(2vh,1rem,1vw);
  text-align: center;
  opacity: calc(1 - (var(--passed) * 3));
  transform: translateY(calc( (var(--passed)) * -10rem ));
  transition: opacity 100ms, translateY 100ms;
  margin-top: clamp(-2vh,-1rem,-1vw);
}
scene{
  position: absolute;
  width: 100%;
  height: 100vh;
}
.block {
  display: block;
  width: 100%;
}
.fillIn{
  align-items: stretch !important;
}
intro {
  position: fixed;
  height: 100vh;
  background-color: var(--Gainsboro);
}
timeline {
  position: relative;
  height: 500vh;
  background-color: var(--Gainsboro);
}
timeline.done {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}
timeline.done intro {
  position: relative !important;
}
something {
  height: 100vh;
  background-color: var(--Gainsboro);
}
footer {
  position: relative;
  min-height: 25vh;
  height: max-content;
  background-color: var(--Dim);
}
footer #icon{
  width: calc(3rem + 10px);
  height: calc(3rem + 10px);
  max-width: calc(6vw + 10px);
  max-height: calc(6vw + 10px);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
line{
  width: 2.5rem;
  height: 2.5rem;
  position:absolute;
  display: block;
  border: 2px solid var(--Dim);
  background-color: var(--Gainsboro);
}
ptr{
  position: relative;
  display: block;
  transition: background-position 25ms ease-in;
}
.V ptr{
  background-image: url(/content/png/tileV.png);
  background-size: 100% auto;
  height: 100%;
  width: 100%;
}
.H ptr{
  background-image: url(/content/png/tileH.png);
  background-size: auto 100% ;
  height: 100%;
  width: 100%;
}
line.V{
  top: 0px;
  bottom:0px;
  height: auto;
  max-width: 5vw;
  z-index: 1;
  padding: 0px 5px;
}
intro .r{
  right: 0;
}
line.H{
  left: 0px;
  right: 0px;
  width: auto;
  max-height: 5vw;
  z-index: 2;
  padding: 5px 0px;
}
intro .b{
  bottom: 0px;
}
square{
  position: absolute;
  width: calc(3rem + 10px);
  height: calc(3rem + 10px);
  max-width: calc(6vw + 10px);
  max-height: calc(6vw + 10px);
  z-index: 3;
  background-color: var(--Gainsboro);
  border: 2px solid var(--Dim);
  padding: 5px;
}
.window{
  position: absolute;
  z-index:2;
}
line, square{
  display: none !important;
}