:root{
  --Gainsboro: #DDE7E0;
  --Dim: #476467;
  --Orange: #e98b54;
  --passed: 0;
  --color-black: #101010;
  --color-pure-black: rgb(0, 0, 0);
}
@font-face {
  font-family: "TuskerStretch";
  src: url(/content/fonts/tusker/TuskerGrotesk-8700Bold.ttf);
}
@font-face {
  font-family: "TuskerMedium";
  src: url(/content/fonts/tusker/TuskerGrotesk-4500Medium.ttf);
}
@keyframes blinkLoad {
  0%{
    scale: 0.3 1;
  }
  50%{
    scale: 1.1 1;
  }
  75%{
    scale: 0.9 1;
  }
  100%{
    scale: 1 1;
  }
}
@keyframes smoothHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
img{
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
canvas{
  pointer-events: none;
}
.blinking{
  animation: blinkLoad 0.75s alternate ease-in-out;
  animation-iteration-count: 1;
}
body {
  background-color: var(--color-black);
  margin: 0;
  z-index: -100000000;
  transition: background-color 1000ms;
  padding: 0px;
  scroll-behavior: smooth;
}
::-moz-selection {
  background:  rgb(233, 139, 84, 0.3);
}

::selection {
  background:  rgb(233, 139, 84, 0.3);
}
h1,h2,h3,h4{
  color: var(--Orange);
  font-family: "TuskerStretch";
  font-size: clamp(3vh,3rem,2vw);
  margin: 0px;
  padding: 0px;
}
p{
  color: var(--Orange);
  font-family: 'Manrope',Arial,sans-serif;
  font-size: clamp(3vh,3rem,2vw);
  margin: 0px;
  padding: 0px;
}
p.med{
  font-size: clamp(2.5vh,2.5rem,1.73vw);
}
p.norm{
  font-size: clamp(1.1rem, 0.9vw, 0.6rem);
}
loader{
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black);
  position: fixed;
  z-index: 100000000;
}
loader p {
  font-size: clamp(1.3rem, 1.6vw, 1.4rem);
  margin: 0px !important;
  
}
.invisible {
  animation: smoothHide 1.25s cubic-bezier(0.47, 0.25, 0.61, 0.84);
}
wrapper {
  z-index: 1;
  width: 100vw;
  overflow-x: hidden;
  display: block;
  max-width: 100%;
  transition: filter 300ms;
  position: relative;
}
.title{
  text-transform: uppercase;
  margin-top: 5rem;
  z-index: 1;
  font-size: clamp(7vh,3rem,7vw);
  text-align: center;
  opacity: calc(1 - (var(--passed) * 9));
  transform: translateY(calc( 5 * (var(--passed)) * -10rem )) scaleY(calc( (3 - (var(--passed)) * 2.5)));
  transition: opacity 100ms, translateY 100ms;
  filter: brightness(calc( ((var(--passed)) * 4) + 1));
}
p.mini{
  animation-duration: 0.9s;
  letter-spacing: clamp(2.1vh,0.6rem,2vw);
  font-family: "TuskerMedium";
  margin-top: calc(clamp(8vh,3.8rem,8vw) + ((var(--passed)) * -2rem) );
  text-transform: uppercase;
  font-size: clamp(3vh,2rem,2vw);
  text-align: center;
  opacity: calc(1 - (var(--passed) * 9));
  transform: translateY(calc( 4 * (var(--passed)) * -15rem )) scaleY(calc( (1.5 - (var(--passed)) * 3)));
  transition: opacity 100ms, translateY 100ms;
  filter: brightness(calc( ((var(--passed)) * 4) + 1));
}
.noSpace{
  letter-spacing: 0px;
}
scene{
  position: absolute;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.block {
  display: block;
  width: 100%;
}
.fillIn{
  align-items: stretch !important;
}
intro {
  position: fixed;
  height: 100vh;
  background-color: var(--Gainsboro);
}
timeline {
  position: relative;
  height: 2000vh;
  background-color: var(--Gainsboro);
}
timeline.done {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}
timeline.done intro {
  position: relative !important;
}
something {
  height: 100vh;
  background-color: var(--Gainsboro);
}
footer {
  position: relative;
  min-height: 25vh;
  height: max-content;
  background-color: var(--Dim);
}
footer #icon{
  width: calc(3rem + 10px);
  height: calc(3rem + 10px);
  max-width: calc(6vw + 10px);
  max-height: calc(6vw + 10px);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
square{
  position: absolute;
  width: calc(3rem + 10px);
  height: calc(3rem + 10px);
  max-width: calc(6vw + 10px);
  max-height: calc(6vw + 10px);
  z-index: 3;
  background-color: var(--Gainsboro);
  border: 2px solid var(--Dim);
  padding: 5px;
}
.window{
  position: absolute;
  z-index:2;
}
line, square{
  display: none !important;
}
cards{
  z-index: 3;
  top:50%;
  position: fixed;
  width: max-content;
  display: flex;
  height: max-content;
  align-items: center;
  gap: 1.5rem;
  transform: translateX(calc((100vw * 5 * var(--passed)) - 120vw)) translateY(-50%);
  flex-direction: row-reverse;
}
card{
  cursor:pointer;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: clamp(20vw,20rem,20vh);
  height: clamp(35vw,30rem,30vh);
  max-width: 30vw;
  max-height: 70vh;
  border-radius: 0.8rem;
  overflow: hidden;
  background-color: var(--color-black);
  transition: transform 500ms, opacity 400ms, box-shadow 700ms, width 700ms;
  box-shadow:rgba(93, 73, 50, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(0, 0, 0, 0.1) 0px 4px 12px, rgba(0, 0, 0, 0.16) 0px 1px 4px, var(--Orange) 0px 0px 0px 2px;;
}
card.active{
  max-width: 50vw;
  width: clamp(40vw,40rem,40vh) !important;
}
cards:has(.active) card:not(.active){
  transform: translateY(100vh);
  width: 0px;
}
cards:has(.active){
  transition: transform 700ms linear, gap 500ms;
  transform: translateX(calc((100vw * 5 * var(--passed)) - 100vw)) translateY(-50%);
  gap: 0rem;
}
cards:has(.active)::after{
  content: "Scroll...";
}
body:has(.active){
  overflow-y: scroll !important;
}
cards::after{
  position:absolute;
  top: 100%;
  left: 50%;
  margin-top: clamp(2.6vh,2.6rem,1.7vw);;
  transform: translateX(-50%);
  content: "*Click to start your journey*";
  color: var(--Orange);
  font-family: 'Manrope',Arial,sans-serif;
  font-size: clamp(2.5vh,2.5rem,1.73vw);
  opacity: 0.3;
}
cards:hover::after{
  animation: blip 2s alternate ease-in-out infinite;
}
@keyframes blip {
  0% {
    opacity: 0.3;
  }
  50%{
    opacity: 0.8;
  }
  100%{
    opacity: 0.3;
  }
}
cards:hover card {
  opacity: 0.2;
}

@media (pointer: none) {
  cards:hover card {
    opacity: 1;
  }
}
card:hover{
  transform: scale(1.01) rotate(1deg);
  width: clamp(25vw,25rem,25vh);
  opacity: 1 !important;
  box-shadow:rgba(93, 73, 50, 0.75) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.8) 0px 18px 36px -18px inset, rgba(0, 0, 0, 0.3) 0px 4px 12px, rgba(0, 0, 0, 0.5) 0px 1px 4px, var(--Orange) 0px 0px 0px 2px;;
}
card .tab{
  z-index: 1;
  margin: 0.5rem 0 0.5rem 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem 0 1rem;
  height: max-content;
  transition: transform 700ms, padding 700ms;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
card:hover .tab{
  transform: translateY(0.3rem);
  padding: 0 1.3rem 0 1.3rem;
}
card .number{
  width: max-content;
  height: max-content;
}
card .name{
  height: max-content;
}
card .about{
  z-index: 1;
  display: block;
  width: 100%;
  height: max-content;
  font-size: clamp(0.8rem, 0.6vw, 0.4rem);
  text-align: justify;
  text-justify: distribute;
  padding: 0.4rem;
  transform: translateY(100%);
  transition: transform 700ms;
  /* background-image: linear-gradient(to bottom, rgb(0,0,0,0), var(--color-black)) */
}
card:hover .about{
  transform: translateY(0%);
}
card .bg{
  filter: brightness(0.8);
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
  width: auto;
  height: clamp(35vw,30rem,30vh);
  max-height: 70vh;
  scale: 1;
  transition: transform 700ms, filter 1000ms;
}
card:hover .bg{
  transform: translate(-50%,-50%) scale(1.1);
  filter: brightness(0.3);
}
places{
  z-index: 3;
  top:50%;
  position: fixed;
  width: max-content;
  display: flex;
  height: 90vh;
  align-items: center;
  gap: 1.5rem;
  transform: translateX(calc((100vw * 5 * var(--passed)) - 210vw)) translateY(-50%);
  flex-direction: row-reverse;
}
places .place{
  width: max-content;
  height: 80vh;
  display: flex;
  flex-direction: row-reverse;
}
places p{
  text-align: justify;
  text-justify: distribute;
}
img.overlay{
  height: 100vh;
  width: auto;
  position:absolute;
  z-index: 10;
  left: 0px;
  bottom: -5vh;
  opacity: 0.8;
  transition: opacity 400ms;
  pointer-events:all !important;
}
img.overlay:hover{
  opacity: 0.4;
}
img.fullH{
  position: absolute;
  display: inline-block;
  width: auto;
  height: 100%;
}
img.type1{
  width: calc(100% - 1rem);
  display:inline;
  padding: 0.5rem;
}
group:has(.type1){
  display: block;
  width: clamp(70vh, 20rem,40vw);
}
noise{
  pointer-events: none;
  position:fixed;
  width: 100vw;
  height: 100vh;
  background-image: url(/content/png/noise.png);
  background-size: 90rem 90rem;
  background-position: calc(var(--passed)* 0.5 * 1000rem - 500rem) calc(var(--passed)* 0.5 * 1000rem);
  z-index: 100000;
  opacity: 0.15;
  box-shadow: rgb(0, 0, 0) 0px 30px 60px -12px inset, rgba(0, 0, 0, 1) 0px 18px 36px -18px inset;
  /* animation: moveHorizontal 5000ms linear infinite; */
}
@keyframes moveHorizontal {
  0%{
    background-position: 0% 0%;
  }
  100%{
    background-position: 80rem 40rem;
  }
}